body {
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;
}

.jumbotron {
    margin: 0px;
    padding: 40px;
    background-image: linear-gradient(45deg, #5ad83a, #0f4b0f, #000000);
}

.h1 {
    background: -webkit-linear-gradient(right, #5ad83a, #0f4b0f, #000000);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.navbar {
    background-color: #333;
    font-family: Arial, Helvetica, sans-serif;
}

.main {
    background-image: linear-gradient(180deg, #f1f5ef, #acadac, #9b9b9b);
    overflow-x:hidden;
    margin-left: 0px;
}

.dropdown {
    float: left;
}

.dropdown .dropbtn {
    font-size: 17px;
    border: none;
    outline: none;
    color: white;
    padding: 14px 16px;
    background-color: inherit;
    font-family: inherit;
    margin: 0;
}

#nintendoMenu .dropdown-menu {
    background-color: #ec1a1a;
}

#xboxMenu .dropdown-menu {
    background-color: #0b911d;
    color: #000000f1;
}

#playstationMenu .dropdown-menu {
    background-color: #1223bb;
}

#nintendoMenu .dropdown:hover .dropbtn {
    background-color: white;
    color: red;
}

.dropdown-menu {
    display: none;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
    z-index: 0;
}

.dropdown-content a {
    float: none;
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    text-align: left;
}

.dropdown-content a:hover {
    background-color: #ddd;
}


.navbar a {
    float: center;
    display: block;
    color: #f2f2f2;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
}

.navbar a:hover {
    background-color: #696969;
    color: black;
}

.navbar-brand {
    background-color: #4CAF50;
    color: white;
}

.navbar .icon {
    display: none;
}

@media screen and (max-width: 600px) {
    .navbar a:not(:first-child) {display: none;}
    .navbar a.icon {
        float: right;
        display: block;
    }
}

@media screen and (max-width: 600px) {
    .navbar.responsive {position: relative;}
    .navbar.responsive .icon {
        position: absolute;
        right: 0;
        top: 0;
    }
    .navbar.responsive a {
        float: none;
        display: block;
        text-align: left;
    }
}

.row-content {
    padding: 40px 0;
    border-bottom: 1px ridge;
    min-height: 200px;
    margin-left: 0px;
}

.header {
    background-image: linear-gradient(45deg, #65f341, #1c851c, #0c4115);
    margin-bottom: 1px;
    padding-bottom: 10px;
    padding-top: 10px;
}

#overviewText {
    text-align: center;
}
